<div class="text-center">
  <h1>About</h1>
  <h3>
    ながのCakeは全国発送可能なケーキ屋さんです。</br>
    お子様からお年寄りの方までお召し上がりいただけるよう、</br>
    様々なバリエーションをご用意しております。</br>
    また、全国へ発送可能ですので「いつ」でも「どこ」でもご注文いただけます。</br>
    ぜひご注文ください。</br>
  </h3>
  <div class="item-box" style="justify-content: center;">
    <% @random.each do |item| %>
      <div>
        <%= attachment_image_tag(item, :image, size: "150x100", fallback: "no_image.jpg") %>
      </div>
    <% end %>
  </div>
</div>