<div class="row">
  <div class="col-xs-3">
    <p>ジャンル検索</p>
    <p>ケーキ</p>
    <p>焼き菓子</p>
    <p>プリン</p>
    <p>キャンディ</p>
  </div>

  <div class="col-xs-9">
    <p class="welcome">
      ようこそ、NaganoCakeへ！</br>
      このサイトは、ケーキ販売のECサイトになります。</br>
      会員でない方も商品の閲覧はできますが、</br>
      購入には会員登録が必要になります。</br>
    </p>

    <h2>おすすめ商品</h2>
  </div>
</div>