<div class="row">
  
   <%= render "public/items/search", genres: @genres %>

  <div class="col-xs-9">
    <p class="welcome">
      ようこそ、NaganoCakeへ！</br>
      このサイトは、ケーキ販売のECサイトになります。</br>
      会員でない方も商品の閲覧はできますが、</br>
      購入には会員登録が必要になります。</br>
    </p>

    <h2>おすすめ商品</h2>
  </div>
</div>