<h4>あなたの注文履歴よん❤</h4>


<% @orders.each do |order| %>

<table class="table">
		<tr>
			<th class="info"><code><%= link_to order.created_at.strftime('%Y/%m/%d'), orders_history_detail_path(order) %></code></th>
		</tr>
</table>

<% end %>
